<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table width="100%">
          <tr style="border: none;">
            <td align="left"><h3 class="text-warning">
              Create New Agenda
            </h3></td>
            <td align="right"><%= link_to "Back", :back %>&nbsp;|&nbsp;
              <%= link_to "Back to List", admin_agendas_path %></td>
          </tr>
        </table>
        <br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>