<div class="section agenda">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-warning">
              <i class="fa fa-fw fa-check-square-o"></i>Active Agendas</h3><br><br>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-info agenda-unit">
                    <div class="panel-heading">
                        <h3 class="panel-title text-muted">
                  <i class="fa fa-fw fa-lg fa-star"></i> Agenda is an abbreviation of agenda sunt or agendum est
                  <span class="label label-primary">New</span>
                </h3>
                    </div>
                    <div class="panel-body">
                        <p>An agenda is a list of meeting activities in the order in which they are to be taken up, by beginning with the call to order and ending with adjournment. It usually includes one or more specific items of business to be discussed.
                            It may, but is not required to, include specific times for one or more activities. An agenda may also be called a docket or schedule.</p>
                        <hr>
                        <h4>Comments:</h4>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet</p>
                            <footer>Someone famous </footer>
                        </blockquote>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet</p>
                            <footer>Someone famous </footer>
                        </blockquote>
                        <a href="#">See All<i class="fa fa-lg fa-angle-double-right fa-fw text-muted"></i></a>
                        <hr>
                        <a href="#"><i class="-o fa fa-2x fa-comment fa-fw text-primary"></i></a>
                        <b>7</b>
                        <a href="#"><i class="fa fa-2x fa-fw fa-thumbs-up text-success"></i></a>
                        <b>22</b>
                        <a href="#"><i class="fa fa-2x fa-fw fa-thumbs-down text-danger"></i></a>
                        <b>3</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-warning agenda-unit">
                    <div class="panel-heading">
                        <h3 class="panel-title text-muted">
                  <i class="fa fa-fw fa-lg fa-star"></i> Agenda is an abbreviation of agenda sunt or agendum est
                  <span class="label label-primary">New</span>
                </h3>
                    </div>
                    <div class="panel-body">
                        <p>An agenda is a list of meeting activities in the order in which they are to be taken up, by beginning with the call to order and ending with adjournment. It usually includes one or more specific items of business to be discussed.
                            It may, but is not required to, include specific times for one or more activities. An agenda may also be called a docket or schedule.</p>
                        <hr>
                        <h4>Comments:</h4>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet</p>
                            <footer>Someone famous </footer>
                        </blockquote>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet</p>
                            <footer>Someone famous </footer>
                        </blockquote>
                        <a href="#">See All<i class="fa fa-angle-double-right fa-fw text-muted"></i></a>
                        <hr>
                        <a href="#"><i class="-o fa fa-2x fa-comment fa-fw text-primary"></i></a>
                        <b>7</b>
                        <a href="#"><i class="fa fa-2x fa-fw fa-thumbs-up text-success"></i></a>
                        <b>22</b>
                        <a href="#"><i class="fa fa-2x fa-fw fa-thumbs-down text-danger"></i></a>
                        <b>3</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info agenda-unit">
                    <div class="panel-heading">
                        <h3 class="panel-title text-muted">
                  <i class="fa fa-fw fa-lg fa-star"></i> Agenda is an abbreviation of agenda sunt or agendum est</h3>
                    </div>
                    <div class="panel-body">
                        <p>An agenda is a list of meeting activities in the order in which they are to be taken up, by beginning with the call to order and ending with adjournment. It usually includes one or more specific items of business to be discussed.
                            It may, but is not required to, include specific times for one or more activities. An agenda may also be called a docket or schedule.</p>
                        <hr>
                        <h4>Comments:</h4>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet</p>
                            <footer>Someone famous </footer>
                        </blockquote>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet</p>
                            <footer>Someone famous </footer>
                        </blockquote>
                        <a href="#">See All<i class="fa fa-angle-double-right fa-fw text-muted"></i></a>
                        <hr>
                        <a href="#"><i class="-o fa fa-2x fa-comment fa-fw text-primary"></i></a>
                        <b>7</b>
                        <a href="#"><i class="fa fa-2x fa-fw fa-thumbs-up text-success"></i></a>
                        <b>22</b>
                        <a href="#"><i class="fa fa-2x fa-fw fa-thumbs-down text-danger"></i></a>
                        <b>3</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-warning agenda-unit">
                    <div class="panel-heading">
                        <h3 class="panel-title text-muted">
                  <i class="fa fa-fw fa-lg fa-star"></i> Agenda is an abbreviation of agenda sunt or agendum est</h3>
                    </div>
                    <div class="panel-body">
                        <p>An agenda is a list of meeting activities in the order in which they are to be taken up, by beginning with the call to order and ending with adjournment. It usually includes one or more specific items of business to be discussed.
                            It may, but is not required to, include specific times for one or more activities. An agenda may also be called a docket or schedule.</p>
                        <hr>
                        <h4>Comments:</h4>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet</p>
                            <footer>Someone famous </footer>
                        </blockquote>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet</p>
                            <footer>Someone famous </footer>
                        </blockquote>
                        <a href="#">See All<i class="fa fa-angle-double-right fa-fw text-muted"></i></a>
                        <hr>
                        <a href="#"><i class="-o fa fa-2x fa-comment fa-fw text-primary"></i></a>
                        <b>7</b>
                        <a href="#"><i class="fa fa-2x fa-fw fa-thumbs-up text-success"></i></a>
                        <b>22</b>
                        <a href="#"><i class="fa fa-2x fa-fw fa-thumbs-down text-danger"></i></a>
                        <b>3</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>