/* line 4, /home/ubuntu/workspace/uday_dummy/app/assets/stylesheets/home_page.scss */
.header {
  background-color: #E65100;
  padding-top: 15px;
  padding-left: 3%;
  padding-right: 3%;
  color: white;
}

/* line 12, /home/ubuntu/workspace/uday_dummy/app/assets/stylesheets/home_page.scss */
.headerlinks {
  padding-left: 5%;
}

/* line 15, /home/ubuntu/workspace/uday_dummy/app/assets/stylesheets/home_page.scss */
.dropdown-menu {
  background-color: #FF6D00;
}

/* line 19, /home/ubuntu/workspace/uday_dummy/app/assets/stylesheets/home_page.scss */
.headerlinks a {
  padding-left: 5%;
  font-family: "Georgia";
  font-weight: bold;
  font-size: 18px;
  color: white;
}

/* line 27, /home/ubuntu/workspace/uday_dummy/app/assets/stylesheets/home_page.scss */
.headerlinks a:hover {
  color: chocolate;
}

/* line 32, /home/ubuntu/workspace/uday_dummy/app/assets/stylesheets/home_page.scss */
#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 38, /home/ubuntu/workspace/uday_dummy/app/assets/stylesheets/home_page.scss */
#login-dp .help-block {
  font-size: 12px;
}

/* line 41, /home/ubuntu/workspace/uday_dummy/app/assets/stylesheets/home_page.scss */
#login-dp .bottom {
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px;
}

/* line 47, /home/ubuntu/workspace/uday_dummy/app/assets/stylesheets/home_page.scss */
#login-dp .social-buttons {
  margin: 12px 0;
}

/* line 50, /home/ubuntu/workspace/uday_dummy/app/assets/stylesheets/home_page.scss */
#login-dp .social-buttons a {
  width: 49%;
}

/* line 53, /home/ubuntu/workspace/uday_dummy/app/assets/stylesheets/home_page.scss */
.btn-fb {
  color: #fff;
  background-color: #3b5998;
}

/* line 57, /home/ubuntu/workspace/uday_dummy/app/assets/stylesheets/home_page.scss */
.btn-fb:hover {
  color: #fff;
  background-color: #496ebc;
}

/* line 61, /home/ubuntu/workspace/uday_dummy/app/assets/stylesheets/home_page.scss */
.btn-li {
  color: #fff;
  background-color: #55acee;
}

/* line 65, /home/ubuntu/workspace/uday_dummy/app/assets/stylesheets/home_page.scss */
.btn-li:hover {
  color: #fff;
  background-color: #59b5fa;
}

@media (max-width: 768px) {
  /* line 70, /home/ubuntu/workspace/uday_dummy/app/assets/stylesheets/home_page.scss */
  #login-dp {
    background-color: inherit;
    color: #fff;
  }

  /* line 74, /home/ubuntu/workspace/uday_dummy/app/assets/stylesheets/home_page.scss */
  #login-dp .bottom {
    background-color: inherit;
    border-top: 0 none;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

