<div class="gallery-section hidden-xs section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Gallery</h1>
        <p class="text-center lead">A subtitle.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <a><img src="https://ununsplash.imgix.net/photo-1423753623104-718aaace6772?w=1024&amp;q=50&amp;fm=jpg&amp;s=1ffa61419561b5c796bca3158e7c704c" class="img-responsive"></a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a><img src="https://unsplash.imgix.net/photo-1421986527537-888d998adb74?w=1024&amp;q=50&amp;fm=jpg&amp;s=e633562a1da53293c4dc391fd41ce41d" class="img-responsive"></a>
      </div>
      <div class="col-md-3">
        <a class="hidden-sm"><img src="https://ununsplash.imgix.net/photo-1421098518790-5a14be02b243?w=1024&amp;q=50&amp;fm=jpg&amp;s=24665881d66f79925810c2deb7e486b9" class="img-responsive"></a>
      </div>
      <div class="col-md-3">
        <a class="hidden-sm"><img src="https://unsplash.imgix.net/photo-1417128281290-30a42da46277?w=1024&amp;q=50&amp;fm=jpg&amp;s=2edb796eb5e657f2c82704a1e6573938" class="img-responsive"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <a><img src="https://ununsplash.imgix.net/reserve/RONyPwknRQOO3ag4xf3R_Kinsey.jpg?w=1024&amp;q=50&amp;fm=jpg&amp;s=c8e85e7825f6c74ff13321833a9bc28d" class="img-responsive"></a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a><img src="https://unsplash.imgix.net/photo-1420708392410-3c593b80d416?w=1024&amp;q=50&amp;fm=jpg&amp;s=db450320d7ee6de66c24c9b0bf2de3c6" class="img-responsive"></a>
      </div>
      <div class="col-md-3">
        <a class="hidden-sm"><img src="https://unsplash.imgix.net/photo-1418479631014-8cbf89db3431?w=1024&amp;q=50&amp;fm=jpg&amp;s=478a9a2196033db7c0bf3c8ba3707f4d" class="img-responsive"></a>
      </div>
      <div class="col-md-3">
        <a class="hidden-sm"><img src="https://unsplash.imgix.net/photo-1414005987108-a6d06de8769f?w=1024&amp;q=50&amp;fm=jpg&amp;s=b37798a9dbd0c8884af2261b518970e3" class="img-responsive"></a>
      </div>
    </div>
  </div>
</div>