<div class="section section-warning text-center header-jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron text-center search-box">
                    <h1>&nbsp;</h1>
                    <div class="row">
                        <div class="col-md-offset-3 col-md-6">
                            <form role="form">
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <input type="text" class="form-control" placeholder="Search by name, class, location, employer etc">
                                        <span class="input-group-btn">
                                                    <a class="btn btn-lg btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-search"></i></a>
                                                </span>
                                    </div>
                                    <p class="help-block">Eg. Kamal, 10th, indeed, hyderabad etc.</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>