<div class="section_heading">Sign In / Sign Up Via</div>
<div class="section_content text-left" style="margin-left: -50px;">
  <div class="social-home-login-btn row">
    <table>
      <tr>
        <td>
          <div class="facebook-login-btn column small-12 large-6">
            <%= link_to "<div style='font-size: 25px; color:#3b5998; line-height: 1.5em;'>
                  <i class='fa fa-facebook-square'></i> facebook
                </div>".html_safe, omniauth_authorize_path(resource_name, "facebook") %>
          </div>
        </td>
      </tr>
      <!--<tr>-->
        <!--<td>-->
          <!--<div class="googleplus-login-btn column small-12 large-6">-->
            <!--<a href="#">-->
              <!--<div style="font-size: 18px; line-height: 1.5em;">-->
                <!--<i class="fa fa-google-plus-square"></i> google+-->
              <!--</div>-->
            <!--</a>-->
          <!--</div>-->
        <!--</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td>-->
          <!--<div class="linkedin-login-btn column small-12 large-6">-->
            <!--<a href="#">-->
              <!--<div style="font-size: 18px; line-height: 1.5em;">-->
                <!--<i class="fa fa-linkedin-square"></i> linkedIn-->
              <!--</div>-->
            <!--</a>-->
          <!--</div>-->
        <!--</td>-->
      <!--</tr>-->
    </table>
  </div>
  <div class="separator text-right">
    <%- if controller_name != 'sessions' %>
        <span>or</span>
        <%= link_to "Connect using email", new_session_path(resource_name) %><br/>
    <% end -%>
  </div>
</div>