<div id="home_login" class="section upcoming-events-box-header">
    <div class="section_heading">Sign In / Sign Up</div>
    <div class="section_content text-center">
        <div class="row">
            <div class="column small-12 large-6">
                <a href="">
                    <div class="btn"><span>Connect with Facebook</span></div>
                </a>
            </div>
            <div class="column small-12 large-6">
                <a href="/login/linkedin_nitwaa">
                    <div class="btn"><span>Connect with LinkedIn</span></div>
                </a>
            </div>
        </div>
        <div class="separator">
            <span>or</span>
        </div>
        <div>
            <a href="/login?via=email">Connect using email</a>
        </div>
    </div>
</div>