<div class="hidden-xs section section-info">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section students-needs">
          <div class="container">
            <div class="row">
              <div class="col-md-5 col-sm-4">
                <table style="margin-top:20px;">
                  <tr>
                    <td>
                      Website Under construction
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Sign In / Sign up is working
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Search is working
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-md-2 col-sm-2 arrow-right"></div>
              <div class="col-md-5 col-sm-6">
                <table>
                  <tr>
                    <td valign="top">
                      <h3>Coming soon full working site</h3>
                      <p>You will be able to see your batch mates
                        <br>search batch mates, get info, send message,
                        <br>Upload event photos and info and many more useful stuffs to do.</p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>