<div class="hidden-xs section section-info">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section students-needs">
          <div class="container">
            <div class="row">
              <div class="col-md-5 col-sm-4">
                <table style="margin-top:20px;">
                  <tr>
                    <td>
                      Students Problem One
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Students Problem Two
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Students Problem Three
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-md-2 col-sm-2 arrow-right"></div>
              <div class="col-md-5 col-sm-6">
                <table>
                  <tr>
                    <td valign="top">
                      <h3>Need help to get it resolved asap</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                        <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                        <br>Ut enim ad minim veniam, quis nostrud</p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>