<h4 contenteditable="true" class="upcoming-events-box-header">Upcoming Meets/Events</h4>
<ul class="media-list upcoming-events-box">
    <li class="media">
        <a class="pull-left" href="#"><img class="media-object" src="https://unsplash.imgix.net/photo-1414005987108-a6d06de8769f?w=1024&amp;q=50&amp;fm=jpg&amp;s=b37798a9dbd0c8884af2261b518970e3" height="64" width="64"></a>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
        </div>
    </li>
    <li class="media">
        <a class="pull-left" href="#"><img class="img-rounded media-object" src="https://unsplash.imgix.net/reserve/MTuhqSiPQbeVnaIYU16X_P1160798_adj.jpg?w=1024&amp;q=50&amp;fm=jpg&amp;s=ede6dca4fff55fa0cc6ec27bcd3480d9" height="64" width="64"></a>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
        </div>
    </li>
</ul>
