<div class="section upcoming-events-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-warning">
          <i class="fa fa-fw fa-group fa-lg"></i>All Meets/Events</h3>
      </div>
    </div>
    <%= render 'meets_or_events/events_search', {search_message: "Eg. 25/12/2015, anual meet, by name 'kamal', title, organizers, guests etc."} %>
    <div class="row">
      <div class="col-md-12">
        <ul class="media-list">
          <%= display_events(@events) %>
        </ul>
        <%= will_paginate @events %>
      </div>
    </div>
  </div>
</div>