<div class="section upcoming-events-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-warning">
          <center>We're working hard to launch this page soon.</center></h3>
      </div>
    </div>
  </div>
</div>