<h1></h1>
<div class="section upcoming-events-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <center>
          <h3 class="text-warning">
            !!!! WEBSITE UNDER MAINTENANCE !!!!</h3>
          <a href="/" id="logo"><%= image_tag('uday_banner.jpg', :alt => "Logo", :class => "img-rounded", :height => '100px', :style => "align:center; border: 2px solid white; border-radius: 10px;margin-right:5px;margin-top:1px;") %></a>
          <h3 class="text-warning">
          We're working hard on maintenance of our website and we'll get up very soon.</h3></center>
      </div>
    </div>
  </div>
</div>