<footer class="section section-primary">
            <div class="container">
                <div class="row">
                    <div class="footer-links col-sm-6">
                        <h4>© Uday at Saraswati Vidya Mandir Inter College, Govind Nagar, Kanpur</h4>
                        <table class="table-condensed" border="0px" width="100%">
                            <tbody>
                                <tr>
                                    <td><a href="#">Alumni Association</a></td>
                                    <td><a href="#">Polling</a></td>
                                    <td><a href="#">Discussion</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">All Meets/Events</a></td>
                                    <td><a href="#">Memories</a></td>
                                    <td><a href="#">Alumni Day</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Contact Us<a></td>
                                    <td><a href="#">Feedback</a></td>
                                    <td></td>
                                </tr>
                            </tbody>
                            </table>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-info text-right">
                            <br>
                            <br>
                        </p>
                        <div class="row">
                            <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-google-plus text-inverse"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 hidden-xs text-right">
                                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-google-plus text-inverse"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>