<div class="navbar navbar-default navbar-fixed-top header" id="header">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo" id="logo"><img height="20" alt="Brand" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAA81BMVEX///9VPnxWPXxWPXxWPXxWPXxWPXxWPXz///9hSYT6+vuFc6BXPn37+vz8+/z9/f2LeqWMe6aOfqiTg6uXiK5bQ4BZQX9iS4VdRYFdRYJfSINuWI5vWY9xXJF0YJR3Y5Z4ZZd5ZZd6Z5h9apq0qcW1qsW1q8a6sMqpnLyrn76tocCvpMGwpMJoUoprVYxeRoJjS4abjLGilLemmbrDutDFvdLPx9nX0eDa1OLb1uPd1+Td2OXe2eXh3Ofj3+nk4Orl4evp5u7u7PLv7fPx7/T08vb08/f19Pf29Pj39vn6+fuEcZ9YP35aQn/8/P1ZQH5fR4PINAOdAAAAB3RSTlMAIWWOw/P002ipnAAAAPhJREFUeF6NldWOhEAUBRvtRsfdfd3d3e3/v2ZPmGSWZNPDqScqqaSBSy4CGJbtSi2ubRkiwXRkBo6ZdJIApeEwoWMIS1JYwuZCW7hc6ApJkgrr+T/eW1V9uKXS5I5GXAjW2VAV9KFfSfgJpk+w4yXhwoqwl5AIGwp4RPgdK3XNHD2ETYiwe6nUa18f5jYSxle4vulw7/EtoCdzvqkPv3bn7M0eYbc7xFPXzqCrRCgH0Hsm/IjgTSb04W0i7EGjz+xw+wR6oZ1MnJ9TWrtToEx+4QfcZJ5X6tnhw+nhvqebdVhZUJX/oFcKvaTotUcvUnY188ue/n38AunzPPE8yg7bAAAAAElFTkSuQmCC" class="img-rounded"></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="header-menu-nav lead nav navbar-left navbar-nav header-menu">
                        <li class="active">
                            <a href="/">Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="et-down fa fa-lg fa-sort-down pull-right s"></i>Directory<br></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">By Search</a>
                                </li>
                                <li>
                                    <a href="#">By Location</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="et-down fa fa-lg fa-sort-down pull-right s"></i>Meets/Events<br></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="/upcoming_events">Upcoming</a>
                                </li>
                                <li>
                                    <a href="/agendas">Agendas</a>
                                </li>
                                <li>
                                    <a href="/all_events">All</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="et-down fa fa-lg fa-sort-down pull-right s"></i>Careers<br></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Jobs</a>
                                </li>
                                <li>
                                    <a href="#">Internship</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#">Donations</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="et-down fa fa-lg fa-sort-down pull-right s"></i>More<br></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Photo Gallery</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">News Letter</a>
                                </li>
                                <li>
                                    <a href="#">Campus Stories</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                                <li>
                                    <a href="#">Downloads</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right header-login-nav" id="header-login-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="et-down fa fa-lg fa-user pull-right s"></i>Login<br></a>
                            <ul id="login-dp" class="dropdown-menu" role="menu">
                                <li>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <font color="#03A9F4">Login via</font>
                                            <div class="social-buttons">
                                                <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                                                <a href="#" class="btn btn-li"><i class="fa fa-linkedin"></i> Linkedin</a>
                                            </div>
                                        </div>
                                        <div class="bottom text-center">
                                            <font color="#03A9F4">New here ?</font>
                                            <a href="#"><b>Join Us</b></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>