<div class="navbar navbar-default navbar-fixed-top header" id="header">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" id="logo"><%= image_tag('logo.png', :alt => "Logo", :class => "img-rounded", :height => '48px', :style => "align:center; border: 2px solid white; border-radius: 10px;margin-right:5px;margin-top:1px;") %></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <ul class="header-menu-nav lead nav navbar-left navbar-nav header-menu">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="et-down fa fa-lg fa-sort-down pull-right s"></i>Directory<br></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#">By Search</a>
            </li>
            <li>
              <a href="#">By Location</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="et-down fa fa-lg fa-sort-down pull-right s"></i>Meets/Events<br></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="/upcoming_events">Upcoming</a>
            </li>
            <li>
              <a href="/agendas">Agendas</a>
            </li>
            <li>
              <a href="/all_events">All</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="et-down fa fa-lg fa-sort-down pull-right s"></i>Careers<br></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#">Jobs</a>
            </li>
            <li>
              <a href="#">Internship</a>
            </li>
          </ul>
        </li>
        <li class="">
          <a href="#">Donations</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="et-down fa fa-lg fa-sort-down pull-right s"></i>More<br></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#">Photo Gallery</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">News Letter</a>
            </li>
            <li>
              <a href="#">Campus Stories</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">Blog</a>
            </li>
            <li>
              <a href="#">Downloads</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right header-login-nav" id="header-login-nav">
        <li>
          <%= link_to('Login', new_user_session_path) %>
        </li>
        <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="et-down fa fa-lg fa-user pull-right s"></i>Login<br></a>
            <ul id="login-dp" class="dropdown-menu" role="menu">
                <li>
                    <div class="row">
                        <div class="col-md-12">
                            <font color="#03A9F4">Login via</font>
                            <div class="social-buttons">
                                <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                                <a href="#" class="btn btn-li"><i class="fa fa-linkedin"></i> Linkedin</a>
                                <a href="#" class="btn btn-gp"><i class="fa fa-google-plus"></i> Google+</a>
                            </div>
                        </div>
                        <div class="bottom text-center">
                            <font color="#03A9F4">New here ?</font>
                            <a href="#"><b>Join Us</b></a>
                        </div>
                    </div>
                </li>
            </ul>
        </li> -->
      </ul>
    </div>
  </div>
</div>