#devise_form_container_wrapper {
  width: 100%;
}

#devise_form_container {
  padding-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 20px;
}

.devise-form-table {
  background: #FFCC80;
  padding: 5px;
}

.devise-form {
  color: black;
}

.form-heading {
  color: #d9534f;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-weight: bolder;
}