<footer class="footer section section-primary">
  <div class="container">
    <div class="row">
      <div class="footer-links col-sm-6">
        <h4>© Uday at Saraswati Vidya Mandir Inter College, Govind Nagar, Kanpur</h4>
        <table class="table-condensed" border="0px" width="100%">
          <tbody>
          <tr>
            <td><a href="/website_page_under_construction">Alumni Association</a></td>
            <td><a href="/website_page_under_construction">Polling</a></td>
            <td><a href="/website_page_under_construction">Discussion</a></td>
          </tr>
          <tr>
            <td><a href="/website_page_under_construction">All Meets/Events</a></td>
            <td><a href="/website_page_under_construction">Memories</a></td>
            <td><a href="/website_page_under_construction">Alumni Day</a></td>
          </tr>
          <tr>
            <td><a href="/website_page_under_construction">Contact Us</a></td>
            <td><a href="/website_page_under_construction">Feedback</a></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6">
        <p class="text-info text-right">
          <br>
          <br>
        </p>
        <div class="row">
          <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
            <a class="youtube-social-btn" href="#"><i class="fa fa-3x fa-fw fa-youtube-square"></i></a>
            <a class="googleplus-social-btn" href="#"><i class="fa fa-3x fa-fw fa-google-plus"></i></a>
            <a class="twitter-social-btn" href="#"><i class="fa fa-3x fa-fw fa-twitter"></i></a>
            <a class="facebook-social-btn" href="#"><i class="fa fa-3x fa-fw fa-facebook"></i></a>
            <a class="instagram-social-btn" href="#"><i class="fa fa-3x fa-fw fa-instagram"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 hidden-xs text-right">
            <a class="youtube-social-btn" href="#"><i class="fa fa-3x fa-fw fa-youtube-square"></i></a>
            <a class="googleplus-social-btn" href="#"><i class="fa fa-3x fa-fw fa-google-plus"></i></a>
            <a class="twitter-social-btn" href="#"><i class="fa fa-3x fa-fw fa-twitter"></i></a>
            <a class="facebook-social-btn" href="#"><i class="fa fa-3x fa-fw fa-facebook"></i></a>
            <a class="instagram-social-btn" href="#"><i class="fa fa-3x fa-fw fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>