<ul class="header-menu-nav lead nav navbar-left navbar-nav header-menu">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="et-down fa fa-lg fa-sort-down pull-right s"></i>Meets/Events<br></a>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a href="/upcoming_events">Upcoming</a>
      </li>
      <li>
        <a href="/agendas">Agendas</a>
      </li>
      <li>
        <a href="/all_events">All</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="et-down fa fa-lg fa-sort-down pull-right s"></i>Careers<br></a>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a href="/website_page_under_construction">Jobs</a>
      </li>
      <li>
        <a href="/website_page_under_construction">Internship</a>
      </li>
    </ul>
  </li>
  <li class="">
    <a href="/website_page_under_construction">Donations</a>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="et-down fa fa-lg fa-sort-down pull-right s"></i>More<br></a>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a href="/website_page_under_construction">Photo Gallery</a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="/website_page_under_construction">News Letter</a>
      </li>
      <li>
        <a href="/website_page_under_construction">Campus Stories</a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="/website_page_under_construction">Blog</a>
      </li>
      <li>
        <a href="/website_page_under_construction">Downloads</a>
      </li>
    </ul>
  </li>
</ul>